@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
    background-image: linear-gradient(to right, #6b8cf1, #eee8e3);
    font-family: sans-serif;
    /* overflow: hidden; */

  }

/* offcanvas navbar */

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav h2{
    text-align: center;
    color: #dfd6d6;
    font-weight: 600;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #cecccc;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ffffff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 12px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .section-header {
    text-align: center;
    margin: 0px auto;
    padding: 10px 0;
    font: 30 25px 'Oswald', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    
  }
  
  button {
    margin-top: 10px;
    width: 8%;
    background-color: #c0b2b2;
    color: #080710;
    padding: 10px 0px;
    font-size: 8px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #b0e2bf;
  }
  
  .btn-float-right {
    float: right;
    margin-top: 10px;
    width: 8%;
    background-color: #10f710;
    color: #080710;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
 
.row{
  width: 75rem;
  padding-left: 27rem;
  margin-top: 4rem;
}

 